.weather-main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-card {
  width: 100%;
  max-width: 500px;
  background: #a0d8f1(255,255,255,0.2);
  backdrop-filter: blur(25px);
  border-radius: 30px;
  padding: 50px;
  text-align: center;
  color: white;
  box-shadow: 0 25px 60px rgba(0,0,0,0.3);
}

.temperature {
  font-size: 80px;
  font-weight: 700;
  margin: 20px 0;
}

.weather-info {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.weather-buttons {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.weather-buttons button {
  padding: 12px 22px;
  border-radius: 16px;
  border: 2px solid white;
  background: transparent;
  color: white;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.weather-buttons button:hover {
  background: white;
  color: #a0d8f1;
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}
